<h3>Start</h3>
@rendermode InteractiveAuto
@attribute [Route(nameof(Start))]
@inject NavigationManager navigation
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p id="specialline" style="color:red">this is special context</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>
<p>what is special</p>

@code {

}
